.input{
    height: 37px;
    border: 1px solid gray;
    background:#F3C61F;
    border-radius: 6px;
}
.success{
    background : green;
    color:white;
    width:50%;
    margin:auto;
    display:none;
}
.error{
    background : red;
    color:white;
    width:60%;
    margin:auto;
    display:none;
}
.vinput{
    width: 40%;
}
.c_body{
    background: #D4D9DD;
}
.pinput{
    width:80%;
}
.tinput{
    background:#F3C61F;
}
